.textCard {
	display: flex;
	width: 90%;
	max-width: 1440px;
	margin: 25px auto;
	box-sizing: content-box;
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.textCard_Text {
	max-width: 500px;
}

.textCard_Text span {
	margin: 0;
	height: fit-content;
}
.textCard_Image {
	width: 100%;
	max-width: 600px;
}
.textCards .textCard:nth-child(2n) {
	flex-direction: row-reverse;
}

@media (max-width: 1000px) {
	.textCard,
	.textCards .textCard:nth-child(2n) {
		flex-direction: column-reverse;
	}

	.textCard h1 {
		text-align: center;
	}
}
